*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    height: 900px;
}
.container .header{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(25, 7, 7);
    color: rgb(255, 240, 249);
}
.container .header .circle{
    background-color: aliceblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px 60px;
}
.container .header .navigation-bar{
    display: flex;
    gap:10px;
}
.container .header .navigation-bar div{
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 15px;
    width: 100px;
    height: 5px;
    margin-right: 50px;
}
.hide{
    display: none;
}
.icon{
    display: none;
}
.main{
    margin: 40px;
}
.container .main .title{
    width: 100%;
    height: 200px;
    background-color: rgb(154, 4, 102);
}
.container .main .content1{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.container .main .content1 div{
    background-color: rgb(170, 50, 128);
    width: 100%;
    height: 100px;

}
.container .main .content2{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.container .main .content2 div{
    background-color: rgb(187, 88, 152);
    width: 100%;
    height: 200px;

}
.note{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-color: rgb(251, 153, 217);
}
@media screen and (max-width:1200px) {
    .hide{
        display: block;
    }
    .container .main .content1{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .container .main .content1 div{
        background-color: rgb(170, 50, 128);
        width: 49%;
        height: 100px;

    }
    .container .main .content2{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

}
@media screen and (max-width:768px) {
    .container{
        height: 1400px;
    }
    .container .header .navigation-bar div{
        display: none;
    }
    .icon{
        display: block;
        margin-top: 9px;
        margin-right: 20px;
    }
    .container .main .content1 div{
        background-color: rgb(170, 50, 128);
        width: 100%;
        height: 100px;

    }

}
